<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=titulo%></title>
    <%-include('partials/head')%>
</head>
<body>
    <%-include('partials/navigation')%>
    
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore eius, accusamus voluptas, sint veritatis magnam impedit eos maiores totam in architecto a quam? Unde obcaecati animi illum nesciunt veritatis modi expedita! Qui corrupti eligendi eos, amet illum dolore culpa deleniti modi consequuntur laboriosam similique alias deserunt veritatis facilis voluptatum temporibus! Optio dicta saepe voluptates architecto facilis quidem tempore, enim quos accusantium eius, voluptatibus doloribus exercitationem et nemo magnam inventore voluptas? Error eaque provident rem officiis earum totam ab vero quia aspernatur fugiat animi officia et possimus alias beatae placeat excepturi repellat ullam, esse iste, repellendus quae deserunt omnis laboriosam? Vel libero qui fuga error quae nihil ea voluptatem voluptate numquam eveniet expedita provident earum, hic minus illo id delectus asperiores vitae necessitatibus natus! Quos ducimus necessitatibus ipsum mollitia maiores, quibusdam explicabo ratione porro nisi dignissimos ex officiis consequuntur ipsam illo autem culpa at. Rerum nobis asperiores nulla tenetur natus, distinctio doloribus nostrum, blanditiis consequatur placeat excepturi iure nam molestias harum necessitatibus sequi alias. Minima fugit in voluptates quisquam? Magnam omnis officiis fugiat ex tenetur dolores, modi veritatis labore voluptatum, incidunt qui. Mollitia quod dignissimos rem eius iste a, impedit quis voluptate soluta eaque esse doloribus praesentium ullam error maxime rerum quam magni reprehenderit, unde beatae quos! Neque quis ullam deleniti iste exercitationem laboriosam distinctio eius quisquam aperiam tenetur quidem recusandae quibusdam repellat nulla praesentium consequatur quasi itaque molestiae delectus minus, amet aspernatur voluptates quam harum? Dolores corrupti quae voluptate? Laudantium illo doloremque suscipit doloribus praesentium deserunt provident vitae eum! Magnam fugit reiciendis, consequuntur quos vitae quam. Eligendi magnam tempore accusantium sit impedit, velit dolorum mollitia, numquam totam voluptas debitis quos sequi nobis porro libero reprehenderit assumenda! Consequuntur hic ratione quaerat quas nisi maiores natus corporis nostrum architecto accusantium doloremque harum unde quis modi debitis, facilis repellat facere fugit eum expedita.</p>
        </section>
    </main>
    <%-include('partials/footer')%>
</body>
</html>